$themeBlack: #202020;
$themeGray: #282828;
$themeWhite: #FFF;
$themeWhiteDark: #c1c1c1;

$themePrimary: #00497B;
$themePrimaryLight: #B8CDF8;
$themeGreen: #388659;
$themeYellow: #FFBE0B;
$themeRed: #DA4167;

$themeRadius: 5px;

$themeMaxWidth: 1400px;

$headerHeight: 70px;
$footerHeight: 100px;